{% extends "base.html" %}
{% load static i18n %}



{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
  <div class="container">
<form action="" method="post">{% csrf_token %}
{{ wizard.management_form }}

{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
      {% load crispy_forms_tags %}
        {% crispy wizard.form %}
    {% endfor %}
{% else %}
    {% crispy wizard.form %}
{% endif %}

  <div class="row justify-content-center">
{% if wizard.steps.prev %}
<button class="btn btn-outline-secondary" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
<button class="btn btn-outline-secondary" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
{% endif %}
<input class="btn btn-outline-secondary" id="button-submit" type="submit" value="{% trans "submit" %}"/>
  </div>
</form>
  </div>

{% endblock %}
