{% extends "base.html" %}
{% load static i18n %}



{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
  <div class="container">
<form action="" method="get">{% csrf_token %}
{{ wizard.management_form }}

{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
      {% load crispy_forms_tags %}
      {% crispy form %}


    {% endfor %}
{% else %}
      {% crispy form %}
{% endif %}

  <div class="row justify-content-center">
<input class="btn btn-outline-secondary" id="button-submit" type="submit" value="{% trans "submit" %}"/>
  </div>
</form>
  </div>

{% endblock %}
